# Python
__pycache__/
*.pyc
venv/
.venv/

# Dataset & Model
dataset/

# Old Code / Drafts
mainn.py
mail.py
on_dinh_nhung_cham
hoatdongonnhanh
apptest.py

# Unnecessary files (PCB, Reports, Docs)
pcb/
reports/
BaoCao_Python_NangCao.md

# IDE / OS
.vscode/
.idea/
Thumbs.db
.DS_Store
desktop.ini
